body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #3d3d3d;
    font-family: Arial, sans-serif;
  }
  
  h1, h2 {
    margin-bottom: 10px;
    font-weight: bolder;
    color: whitesmoke;
  }

  ul {
    list-style: none;
    color: whitesmoke;
  }

  li {
    margin-bottom: 5px;
  }
  
  .regular {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
  }
  
  p {
    font-size: 40px;
    margin-bottom: 20px;
    color: whitesmoke;
  }


  #game-container{
    display: flexbox;
    justify-content: center;
  }
  
  button.arrow-btn {
    background-color: #3b82f6;
    border: none;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.1s;
  }

  .arrow {
    font-size: 40px;
    color: white;
    line-height: 40px;
  }
  
  #game-over {
    display: none;
    font-size: 2rem;
    color: red;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  #timer-container {
    width: 300px;
    margin-top: 30px;
  }
  
  #timer-bar {
    height: 50px;
    transition: background-color 0.3s ease;
    font-size: 1.25rem;
  }
  
  #start-screen, #restart-btn {
    margin-top: 20px;
  }
  
  .arrow-btn.clicked {
    background-color: #0d6efd !important;
    box-shadow: 0 0 20px #0d6efd;
    transform: scale(1.1);
    transition: all 0.2s ease;
  }
  